modules = ["nodejs-20", "web", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
PORT = "5000"

[userenv.shared]
RENDER_SERVER_URL = "https://0db162a9-d352-40c0-8d36-3fc6c8186da5-00-3jemj5f77vtps.janeway.replit.dev"
ADMIN_CHAT_ID = "8228419622"
REDIS_URL = "rediss://default:AWYDAAIncDJiOTlmNmM1ZDY3ZWI0YThmYWY2OTllNzNhNDIyMGNiYnAyMjYxMTU@noted-pipefish-26115.upstash.io:6379"
EXTERNAL_DATABASE_URL = "postgresql://neondb_owner:npg_Ls9iQldgt4SM@ep-solitary-brook-ah0il9oj-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Chewatabingo Server"

[[workflows.workflow]]
name = "Chewatabingo Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
